<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <permission
        android:name="com.android.example.contentproviderknowledge.READ_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContentProviderKnowledge"
        tools:targetApi="31">

        <!-- android:name trong provider yêu cầu chỉ rõ địa chỉ của contetn provider trong package -->
        <!-- còn android authorities : chính là địa chỉ của content path mà ta d=tự định nghĩa -->
        <provider
            android:name=".FoodContentProvider"
            android:authorities="com.database.fooddatabase"
            android:readPermission="com.android.example.contentproviderknowledge.READ_DATABASE"
            android:enabled="true"
            android:exported="true"></provider>


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>